.hero-main {
    margin: 0 11.1111%;    z-index:  2;    
}

.hero-main video {
    width: 100%;
    position: relative;
    z-index: 10;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .hero-main{
        margin: 0 5%;
    }
    }
    
