.logo-flex {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 11.1111%;
    padding: 50px 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 70%;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .logo-flex {
        gap: 0;
        margin: 0;
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-flex {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0px 5%;
        padding: 020px 0;
    }
}